.active {
    font-weight: bold;
}

.custom:hover {
    background-color: rgb(244, 245, 246)
}

.upper-section {
    position: fixed;
    width: inherit;
    height: 75px;
    z-index: 100;
}

.lower-section {
    position: relative;
    margin-top: 75px;
}

.fixed-bottom {
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(222, 226, 230);
    z-index: 100;
}

.calendar-container {
    width: 100%;
}

.react-calendar {
    width: 100%;
}

.lightMode {
    color: #121212 !important;
    background-color: #FFFFFF !important;
}

.darkMode {
    color: #FFFFFF !important;
    background-color: #121212 !important;
}

.custom-border {
    border-right: 1px solid rgb(222, 226, 230);
}

@media only screen and (max-width: 767px) {
    .custom-border {
        border-right: none;
        border-bottom: 1px solid rgb(222, 226, 230);
    }
}